user www-data;
worker_processes auto;
pid /run/nginx.pid;
events {
	worker_connections 10240;
	multi_accept on;
}
http {
	##
	# Basic Settings
	##
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
	# server_tokens off;
	# server_names_hash_bucket_size 64;
	# server_name_in_redirect off;
	include /etc/nginx/mime.types;
	default_type application/octet-stream;
	##
	# SSL Settings
	##
	ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
	ssl_prefer_server_ciphers on;
	##
	# Logging Settings
	##
	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;
        upstream masters {
        server  172.20.10.101;
        server  172.20.10.102;
        server  172.20.10.103;
        server  172.20.10.104;
        server  172.20.10.105;
	}
server {
	listen 80;
	server_name _;
	location / {
		proxy_pass http://masters;
		proxy_set_header host $host;
		proxy_set_header        X-Real-IP       $remote_addr;
		proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
		}

	}
}
